asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
coinbase-commerce==1.0.1
colorama==0.4.6
Django==4.2.3
django-cors-headers==4.0.0
django-extensions==3.2.3
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
idna==3.6
iniconfig==2.0.0
packaging==23.2
Pillow==10.0.0
pluggy==1.4.0
psycopg2==2.9.9
PyJWT==2.8.0
pytest==8.0.0
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
snowflake-id==0.0.5
sqlparse==0.4.4
stripe==8.3.0
typing_extensions==4.9.0
tzdata==2023.3
urllib3==2.1.0